<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jjswigut.doittoit">

    <application
        android:name=".DoItToItApplication"
        android:icon="@mipmap/ic_doittoit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_doittoit_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoitToit">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <nav-graph android:value="@navigation/main_navigation" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="DoitToit"
            android:theme="@style/Theme.DoitToit" />
    </application>

</manifest>